@model IEnumerable<Cinema.Web.Models.Movie>

@{
    ViewData["Title"] = "Főoldal";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/homepage.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/homepage.min.css" />
</environment>

<h1>Legújabb filmek</h1>

<div class="cont">
    @for (var i = 0; i < 5; i++)
    {
        <div class="bo">
            <a asp-controller="Movies" asp-action="Details" asp-route-id="@Model.ElementAt(i).Id" class="bo">
                <img src="@Url.Action("DisplayImage", "Movies", new { id = Model.ElementAt(i).Id })" />
                <span>@Model.ElementAt(i).Title</span>
            </a>
        </div>
    }
</div>

<h1>Mai vetítések</h1>

@if (ViewBag.Today.Count != 0)
{
    <div class="cont">
        @foreach (Screening item in ViewBag.Today)
        {
            foreach (Movie movie in ViewBag.Movies)
            {
                @if (movie.Id == item.MovieId)
                {
                    <div class="bo">
                        <a asp-controller="Movies" asp-action="Details" asp-route-id="@movie.Id" class="bo">
                            <img src="@Url.Action("DisplayImage", "Movies", new { id = movie.Id })" />
                            <span>@movie.Title - @item.StartTime.ToString("MM/dd/ HH:mm")</span>
                        </a>
                    </div>
                }
            }
        }
    </div>
}
else
{
    <span>Nincs ma vetítés</span>
}
