@model IEnumerable<Cinema.Persistence.Screening>

@{
    ViewData["Title"] = "Vetítések";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/screenings.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/screenings.min.css" />
</environment>

<h1>Vetítések</h1>

<table class="table">
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="movie_tr" style="background-image: linear-gradient(to left, rgba(51, 51, 77, 0.1), rgba(0, 0, 0, 100%)), url( @Url.Action("DisplayCover", "Movies", new { id = item.Movie.Id }) );">
                <td>
                    <span class="title">@Html.DisplayFor(modelItem => item.Movie.Title)</span>
                    <p>@Html.DisplayFor(modelItem => item.StartTime)</p>
                    <p>@Html.DisplayFor(modelItem => item.Room.Name)</p>
                    <span>
                        <a asp-action="Reserve" asp-route-id="@item.Id">Foglalás...</a>
                    </span>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
            </tr>
        }
    </tbody>
</table>
