@model Cinema.Web.Models.BookViewModel

@{
    ViewData["Title"] = "Helyfoglalás";
}

<environment include="Development">
    <link rel="stylesheet" href="~/css/book.css" />
</environment>
<environment exclude="Development">
    <link rel="stylesheet" href="~/css/book.min.css" />
</environment>

<h1>Helyfoglalás</h1>

<h4>@Model.RoomName - @Model.StartTime.ToString("MM/dd/ HH:mm")</h4>

<div class="seat_container">
    @for (int i = 0; i < Model.Rows; i++)
    {
        <div class="row">
            <span class="row-id">S @i</span>
            @for (int j = 0; j < Model.Columns; j++)
            {
                @if (Model.Seats.ElementAt(i * Model.Columns + j).Status == 0)
                {
                    <div class="seat-free" id="seat @i @j" onclick="reserve('seat @i @j', 'id @i @j', @Model.Rows, @Model.Columns)"></div>
                }
                else
                {
                    <div class="seat-booked" id="seat @i @j" onclick="reserve('seat @i @j', 'id @i @j')"></div>
                }
            }
        </div>
    }
</div>

@if (Model.NoSeat == true)
{
    <div class="text-danger">Hely megadása kötelező (min 1 - max 6).</div>
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="Reserve" asp-route-id="@Model.Id" asp-route-rows="@Model.Rows" asp-route-cols="@Model.Columns" asp-route-rname="@Model.RoomName" asp-route-time="@Model.StartTime">
            <div class="invisible">
                @for (int i = 0; i < Model.Rows; i++)
                {
                    @for (int j = 0; j < Model.Columns; j++)
                    {
                        @if (Model.Seats.ElementAt(i * Model.Columns + j).Status == 0)
                        {
                            @Html.CheckBox("id" + i + j, false)
                        }
                        else
                        {
                            @Html.CheckBox("id" + i + j, true)
                        }
                    }
                }
            </div>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label">Név</label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Phone" class="control-label">Telefonszám</label>
                <input asp-for="@Model.Phone" class="form-control" />
                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Foglalás" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}