@model Cinema.Web.Models.BookViewModel

@{
    ViewData["Title"] = "Helyfoglalás";
}

<style>
    body {
        background-color: black;
    }

    .seat_container {
        width: 50%;
        margin: auto;
    }

    .seat-free {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        background-color: green;
        margin: 20px;
        float: left;
    }

    .seat-booked {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        background-color: red;
        margin: 25px;
        float: left;
    }

    .seat-selected {
        width: 50px;
        height: 50px;
        border-radius: 8px;
        background-color: orange;
        margin: 25px;
        float: left;
    }
</style>

<h1>Reserve</h1>

<h4>Seat</h4>

<div class="seat_container">
    @for (int i = 0; i < Model.Rows; i++)
    {
        <div class="row">
            @for (int j = 0; j < Model.Columns; j++)
            {
                @if (Model.Seats.ElementAt(i * Model.Columns + j).Status == 0)
                {
                    <div class="seat-free" id="seat @i @j" onclick="reserve('seat @i @j', 'id @i@j')"></div>
                }
                else
                {
                    <div class="seat-booked" id="seat @i @j" onclick="reserve('seat @i @j', 'id @i@j')"></div>
                }
            }
        </div>
    }
</div>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Reserve" asp-route-id="@Model.Id"> 
            @for (int i = 0; i < Model.Rows; i++)
            {
                @for (int j = 0; j < Model.Columns; j++)
                {
                    @if (Model.Seats.ElementAt(i* Model.Columns+j).Status != 0)
                    {
                        @Html.CheckBox("id" + i + j, true)
                    }
                    else
                    {
                        @Html.CheckBox("id" + i + j, false)
                    }
                }
            }
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Name" class="control-label"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Phone" class="control-label"></label>
                <input asp-for="@Model.Phone" class="form-control" />
                <span asp-validation-for="@Model.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>



<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function reserve(i, j) {
        var str = ' ' + j
        str = str.replace(/\s/g, '')

        var checkbox = document.getElementById(str)
        var seat = document.getElementById(i)

        var ctr = 0
        for (var i = 0; i < 2; i++) {
            for (var j = 0; j < 3; j++) {
                if (document.getElementById('id' + i + j).checked && document.getElementById("seat "+i+" "+j).classList.contains("seat-selected")) {
                    ctr++
                }
            }
        }

        console.log(ctr);
        if (ctr == 6 && seat.classList.contains("seat-free")) return

        if (seat.classList.contains("seat-free")) {
            checkbox.checked = true
            seat.classList.remove("seat-free")
            seat.classList.add("seat-selected")
        } else if (seat.classList.contains("seat-selected")) {
            checkbox.checked = false
            seat.classList.remove("seat-selected")
            seat.classList.add("seat-free")
        }
    }
</script>
