@{
    ViewData["Title"] = ViewBag.Movie.Title + " részletek";
}

<style>
    .movie_details {
        padding: 190px 0 0 300px;
        background-image: linear-gradient(to bottom, rgba(51, 51, 77, 0.1), rgba(0, 0, 0, 1)),url("@Url.Action("DisplayCover", "Movies", new { id = ViewBag.Movie.Id })");
    }
</style>

<link rel="stylesheet" href="~/css/details.css" />

<div class="movie_card">
    <div class="movie_container">
        <img src="@Url.Action("DisplayImage", "Movies", new { id = ViewBag.Movie.Id })" class="movie_poster" />

        <div class="movie_hero">
            <div class="movie_details">
                <div class="movie_title">@ViewBag.Movie.Title</div>
            </div>
        </div>

        <div class="movie_description">
            <div class="movie_col2">
                <dl>
                    <dt>Hossz</dt>
                    <dd>@ViewBag.Movie.Duration perc</dd>
                    <dt>Rendező</dt>
                    <dd>@ViewBag.Movie.Director</dd>
                    <dt>Főszereplő</dt>
                    <dd>@ViewBag.Movie.Protagonist</dd>
                    <dt>Ismertető</dt>
                    <dd>@ViewBag.Movie.Description</dd>
                </dl>
            </div>
        </div>

        <h2>Vetítések</h2>

        <ol class="screenings_list">
            @foreach (Screening item in ViewBag.Movie.Screenings)
            {
                <li>
                    @item.StartTime.ToString("yyyy/MM/dd HH:mm")
                    <a asp-controller="Screenings" asp-action="Details" asp-route-id="@item.Id">
                        <span>Foglalás</span>
                    </a>
                </li>
            }
        </ol>
    </div>
</div>